<template>
    <v-container fluid>
    <v-row dense>
        <v-col>
        <v-card
            :title="`Content `"
            :subtitle="`Subtitle for Content `"
            text="Lorem ipsum dolor sit amet consectetur, adipisicing elit.?"
        >
          <v-card-text>
            <v-data-table :items="dataItems">
            </v-data-table>
          </v-card-text>
        </v-card>
        </v-col>
    </v-row>
    </v-container>
  </template>

<script lang="ts">
    export default {
      data(){
        return {
          dataItems: [
            { id: 1 }
          ]
        }
      }
    }
</script>
